<title>The Basics</title>

<body bgcolor="white">
<form>
   <body>
   <CENTER> <H1> The Basics  </H1>
            <H2>  Gettings started with DLG </H2>

   </CENTER>

<HR>

This chapter covers the basics -- terminology, installation, etc. While it is aimed squarely at the first-time
user, even grizzled BBS veterans should at least glance at each portion of this chapter. It never hurts to
make sure you're "on the same page" as everyone else.

<HR>

<B>Note: </B> The graphics used in this manual are for the most part Amiga ILBM format. This was done because
ILBM offers superior size and speed advantages to other formats. If you do not have an ILBM datatype, you will
need to get one. There are plenty on AmigaNet, or you may contact us to get the one we use.

</form>
</Body>

