<title>The Basics</title>

<body bgcolor="white">
<form>

<H1>Installed Directory Structure</H1>

<HR>

DLG's installer will create a variety of directories and make a number of logical assignments in the
process of installing your software. Unless otherwise indicated, these are all based off the "base directory"
that you told the Intaller to use.<BR><BR>

<Table frame="border" rules="all"><TBody valign="top">

   <TR BGColor="black"> <TD> <Font color="white">Directory
         <TD><font color="white">Assign
         <TD><font color="white">Purpose

   <TR>  <TD>DLG
         <TD>DLG:
         <TD>Location for most of DLG's executables

   <TR>  <TD>DLGConfig
         <TD>DLGConfig:
         <TD>Location for most of DLG's configuration files (see below).

   <TR>  <TD>MSG
         <TD>MSG:
         <TD>This is where DLG will by default store its messages and bulletins

   <TR>  <TD>FILE
         <TD>FILE:
         <TD>This is where DLG will by default store its file archives for downloading

   <TR>  <TD>Fido
         <TD>Fido:
         <TD>This is where DLGMail and its config files are kept. Not installed unless you tell it to.

   <TR>  <TD>  FIDO/Trap
         <TD>  -
         <TD>  This is where the executables for TrapDoor are kept. Only installed with DLGMail.

   <TR>  <TD>  FILE/Tick
         <TD>  TICK:
         <TD>  This is where DLGTick will store files that are not kept on the BBS itself. Only installed if you
               install DLGMail.

   <TR>  <TD>  MSG/Pass
         <TD>  PASS:
         <TD>  This is where DLGMail will store messages for echos that you are not importing to your BBS, or
               <i>Passthrough</i> areas. Only installed if you install DLGMail.

   <TR>  <TD>  Msg/Inbound
         <TD>  INBOUND:
         <TD>  This is where incoming FidoNet mail will be found and processed by DLGMail.

   <TR>  <TD>  Msg/Outbound
         <TD>  OUTBOUND:
         <TD>  This is where outgoing messages will be stored by DLGMail before they're sent.

   <TR>  <TD>  Msg/NodeList
         <TD>  NODELIST:
         <TD>  This is where the FidoNet nodelist is kept. Only installed if you install DLGMail.

   <TR>  <TD>  User
         <TD>  User:
         <TD>  This is where each user's configuration files are kept, as well as their private messages
               and files

</TBody></Table>
<BR><BR>

<HR>

<H2><B>Contents of DLGConfig</B></H2>

DLGConfig: contains a number of nested directories, each serving a purpose.<BR><BR>

<Table frame="border" rules="all"><TBody valign="top">

   <TR BGColor="black"> <TD> <Font color="white">Directory
         <TD><Font color="white">Purpose

   <TR>  <TD>  CharSets
         <TD>  This is where translation character sets are kept. These are used to remap messages so that
               they display properly in all countries.

   <TR>  <TD>  Fido
         <TD>  This contains files specifically for use with FidoNet-enabled software. Eventually, all
               FidoNet configuration files will be stored here.

   <TR>  <TD>  Group
         <TD>  This is where group definitions are kept.

   <TR>  <TD>  Languages
         <TD>  DLG can use different language files (localization) depending on how the sysop and user
               sets up the system (sysops control what's available, and users choose from that). This is
               where the language files are kept.

   <TR>  <TD>  Menu
         <TD>  This is where menu definitions, display files, help files, and function templates are kept.

   <TR>  <TD>  Menu/&lt;Menu_Name&gt;/
         <TD>  Each menu's help files are kept in a seperate directory.

   <TR>  <TD>  Menu/Funcs/
         <TD>  The files in this directory define what built-in functions each online module posesses. Do
               not edit these without explicit instructions!

   <TR>  <TD>  Misc
         <TD>  A number of miscellaneous configuration files are kept here. In general, third-party utilities
               likewise keep thier config files here.

   <TR>  <TD>  Notes
         <TD>  You may keep private notes for each user on your BBS. This is where the notes will be stored.

   <TR>  <TD>  Port
         <TD>  Port, modem, and local display files are kept here.

   <TR>  <TD>  Rexx
         <TD>  DLG Arexx files are kept here, as well as any other Arexx files you wish to use with the BBS.
               DLG Arexx files use the extension .DLX.

   <TR>  <TD>  SIGS
         <TD>  The configuration files for Special Interest Groups (SIGs) are kept here.

   <TR>  <TD>  Template
         <TD>  You may use templates for validation of new user accounts and creation of file and message
               areas. This is where they are stored.

   <TR>  <TD>  Text
         <TD>  A number of different text files are kept here, from special text files used internally to
               those that you wish to include as part of the BBS.

</TBody></Table>

<HR>

</form>
</Body>

