<title>The Basics</title>

<body bgcolor="white">
<form>

<H1>Installing DLG</H1>

<HR>

<H2>Before you install DLG</H2>

Before you install your software, we suggest the following:

   <UL>
      <LI>  Ensure your installation disks are write protected before you insert them into your disk drive.
            This not only guards against viruses, but also against accidental erasure.<BR><BR>

      <LI>  Make backup copies of your disks and use those backups to install the software. Be sure that
            the disks are named the same as the original disks.<BR><BR>

      <LI>  If you have the means to do so, make a full backup of your system "just in case".
   </UL>

<HR>

<H2>Running the Installer</H2>

<IMG SRC="Pics/Install.IFF"  ALIGN="Left" HSPACE="5" VSPACE="5">

Installing DLG is a simple matter using the Amiga Installer. Simply click on the INSTALL_DLG icon on Disk 1
and it will begin. You will be asked if you wish to log the installation process; we suggest that you either
log to a log file or to your printer.  This will give you a solid record of events that transpired if the
software installer somehow does things wrong.

<P>Throughout the installation process, you will be given a number of choices to make.  Before the installer
actually starts copying files, you can abort the process with no permenant effects.  After files begin to be
copied, your recovery path is less straightforward.

<P>With this in mind, we have constructed the installer so that it asks you about the specifies of file and
directory locations FIRST, then actually implements your instructions.<BR><BR>

<P>See the next section before actually proceeding.

<HR>

</form>
</Body>

