<title>The Basics</title>

<body bgcolor="white">
<form>

<H1>Installing DLG</H1>

<HR>

Every effort has gone into making first-time installation of DLG as easy as possible.  However, a great many
things must be done and there is of course a possiblity that the installer will not operate properly under
your unique set of circumstances.  While this chapter does not cover all the bases, it will perhaps give you
the means to overcome the occasional problem that you might encounter. If not, you will need to contact
Digerati Dreams directly to rectify the problem. We will do all we can to help satisfy your needs in this
regard.<BR><BR>

<HR>

<H2>System Requirements</H2>

DLG's requirements are modest but absolute - if your system does not at least match this profile, you will not
be able to run DLG at all.

<UL>
   <LI>AmigaDOS release 3.0 or later<BR><BR>

   <LI>At least 512 kB of RAM. More is recommended. Fast RAM will give best results. Additional lines
       will incur roughly 100 kB per line additional overhead (peak usage).<BR><BR>

   <LI>A hard drive with at least 5 MB of free space. You will need a minumum of 3 MB of space to store
       the software and additional space for file and message areas. While in theory you can operate
       entirely off of floppies, it is strongly recommended against.<BR><BR>

   <LI>At least one modem.
</UL>

<P>While DLG may work with OS 2.04, V3.0 is the minimum supported OS.

<P>Users of the ARP shell will find that it will cause crashes with DLG. Under OS 3.0 there should be no
good reason to use the ARP shell, anyway.<BR><BR>

<HR>

<H2>Register your software!</H2>

Included with your software is a registration card. We encourage you to register your software as soon as
you purchase it.  Your registration card contains a serial number. Always refer to that serial number when
initiating a support request with Digerati Dreams.<BR><BR>

<HR>

</form>
</Body>

