<title>The Basics</title>

<body bgcolor="white">
<form>
<A Name="Top"></A>
<H2>Logging in the First Time, and Setting Up your BBS.</H2>

<HR>

While the Installer does what it can to set up your system for you, there are still some things you need
to do in the capacity of Sysop in order to make it useable to other users.  DLG's primary means of
configuration is carried out online by the sysop. Therefore, the first thing you must do is log in. One of
the standard batch files that DLG installs is in the S: directory and called <code>Local</code>. This
batch file will log you in on the local port, TL0.

<P><B><Big>If you have not done so, run <code>S:DLG-Startup</code> from a different shell now.</Big></B>

<HR>

<A Name="Login"></A>
<H3>Logging In</H3>

When installing DLG, you were prompted for a user name and password to use for your sysop account. You will
need that now.  From a shell, type

<P><pre>    s:Local</pre>

<p>and you will see something like this.<BR>

<IMG SRC="Pics/Login.IFF" HSPACE="5" VSPACE="5">

<P><B>NOTE: the exact contents of your screens will differ from what's shown, most likely, so use common
sense and simply use what you see as a guide.</B>

<P>Until you have done some more configuration work, you will go through this process each time you wish to
log in. Once you have the hang of using the various programs, you will be able to alter your batch files
and configurations to streamline the local login process.

<P>Once you have logged in, you will see a menu like this:<BR>

<IMG SRC="Pics/Main_Menu.IFF" HSPACE="5" VSPACE="5">

This is the <B>Main Menu</B> and is more or less the nexus for the entire BBS for online users. From here, you
will want to go to the <B>Sysop Menu</B>

<HR>

<A Name="Sysop"></A>
<H3>The Sysop Menu</H3>

<IMG SRC="Pics/Sysop_Menu.IFF" HSPACE="5" VSPACE="5"><BR>

The <B>Sysop Menu</B> is so important that we should take a moment to summarize what it does. The following
menu entries are available by default, though you can change it as needed.<BR><BR>

<Table frame="border" rules="all"><TBody valign="top">

   <TR BGColor="black"> <TD> <Font color="white">Key
         <TD><font color="white">Function
         <TD><font color="white">Description

   <TR>  <TD>  D
         <TD>  Define&nbsp;/&nbsp;Edit&nbsp;Message&nbsp;Areas
         <TD>  This takes you to the message area editor, where you add, edit, and remove message areas on
               the BBS. There is also a message area <b>template</b> editor attached to it that performs
               more or less the same functions on message area templates.

   <TR>  <TD>  F
         <TD>  Define / Edit File Areas
         <TD>  This takes you to the file area editor, where you add, edit, and remove file areas on
               the BBS. There is also a file area template editor attached to it that performs
               more or less the same functions on file area templates.

   <TR>  <TD>  E
         <TD>  Edit Message Area Access
         <TD>  From here you can edit special access flags for users. For example, you can give a user
               Sysop access to a specific message area without changing the default settings for a message
               area in general. You could also, for example, remove a user's write access if that user was
               not observing the posting rules for a specific area.

   <TR>  <TD>  R
         <TD>  Revise File Area Access
         <TD>  From here you can edit special access flags for users with regard to file areas. This works
               exactly as the "E" option above works.

   <TR>  <TD>  U
         <TD>  User Account Edit
         <TD>  The User Editor allows you to directly edit user accounts (including your own). Besides
               individual accounts, you may also batch edit them. User templates can be used to create
               and alter user accounts, as well.

               <P>This function also offers the all-important <B>validation</B> function, in which you
               validate new user accounts and give them proper access to the BBS.


   <TR>  <TD>  A
         <TD>  Group Account Edit
         <TD>  The Group Account Editor allows you to create, edit, and delete Group accounts. Group accounts
               are used to access many users as if they were one, such as for message routing.

   <TR>  <TD>  P
         <TD>  Port Configure
         <TD>  The Port Editor contains a number of other editors: modem configs, port configs, global
               settings, and so on. You will see this editor shortly.

   <TR>  <TD>  N
         <TD>  Network Mail Configure
         <TD>  This editor facilitates the creation of default FidoNet mail settings.

   <TR>  <TD>  C
         <TD>  Configure Menus
         <TD>  This editor allows you to edit, create, and delete Menus and <B>Menusets</B>. Besides the
               visual appearance of a menu, you can create menu-sets that area attached to specific
               languages, which is very important for internationally-flavored BBSs.

   <TR>  <TD>  T
         <TD>  Transfer Area Maintenance
         <TD>  This module contains file area maintance functions. Using it, for example, you can import
               entire directories of files from CD or network directories. There are also some "fix-it"
               functions for those times that your file areas might possibly become corrupted.

   <TR>  <TD>  G
         <TD>  General Configuration
         <TD>  This menu contains a number of editors for such diverse things as archivers, editors,
               modem protocols, and so on.

   <TR>  <TD>  S
         <TD>  SIG Creation/Edit
         <TD>  This editor allows you to create and edit both file and message area SIGs.

   <TR>  <TD>  L
         <TD>  List Users
         <TD>  A quick listing of all users on your BBS.

   <TR>  <TD>  M
         <TD>  Main Menu
         <TD>  Returns you to the previous menu (this is a DLG convention that you may alter if you
               wish).

   <TR>  <TD>  H
         <TD>  Help
         <TD>  Brings up a help menu selection screen. From there, the user can select what command
               he or she wishes help with. Another DLG convention that you may change, though we
               recommend against it -- "H" for "Help" makes <b>a lot</b> of sense, after all.

   <TR>  <TD>  ?
         <TD>  Display Menu
         <TD>  Another DLG convention. Often this is a hidden menu selection. It is most useful
               if line noise "corrupts" the menu, or if the user is using Intermediate or Expert
               menu mode.

</TBody></Table>

<P>From here, select the <B>[P]</B> Port Menu editor.

<HR>

<A Name="Port_Editor_Menu"></A>
<H3>The Port Editor Menu</H3>

<IMG SRC="Pics/Port_Menu.IFF" HSPACE="5" VSPACE="5"><BR>

This menu offers you everything you need to configure and edit ports on DLG.  Here's a brief
description.<BR><BR>

<Table frame="border" rules="all"><TBody valign="top">

   <TR BGColor="black"> <TD> <Font color="white">Key
         <TD><font color="white">Function
         <TD><font color="white">Description

   <TR>  <TD>  P
         <TD>  Port&nbsp;Configuration
         <TD>  Port settings. This is a top-level configuration editor that depends on other settings
               being created first.

   <TR>  <TD>  D
         <TD>  Configure Displays
         <TD>  Display settings. This defines the screen and window sizes that DLG uses in opening windows
               and screens, such as the one you are using now to configure the port.

   <TR>  <TD>  G
         <TD>  Global Set Config
         <TD>  Global Port settings. Global settings define a lot about how a port is presented to the user
               when the user logs on. Using global settings, you can virtually make one BBS appear to be
               two BBSs, depending on the port you log in to.

   <TR>  <TD>  O
         <TD>  Modem Configure
         <TD>  Modem settings. Global settings define how the handler "talks" to the modem attached to the
               port. A number of defaults have been provided with the software. If one corresponds to the
               modem you use, your job will be simple.

   <TR>  <TD>  C
         <TD>  Computer Types
         <TD>  While it has no impact on operation of the BBS, you can define a set of computer types that
               your users can "register" with, allowing you to tell at a glance what sort of terminal the
               user is using to log in to the BBS.

</TBody></Table>

<P>The first order of business will be to define your modem type. Select <b>[O]</b>.

<HR>

<A Name="Modem"></A>
<H3>Modem Configuration Editor</H3>

<IMG SRC="Pics/Modem_Settings.IFF" Align="Right" HSPACE="5" VSPACE="5">

From here, you can create, delete, and edit modem files. You should be aware that you only need one
modem file for each type of modem you use. If you have multiple lines, all with the same type of modem,
each port can use the same modem file -- quite a time saver. Hit <B>[L]</B> to see what modems you may
select from. If you see the type of modem you use listed, you can simply use it instead of creating one.
You <B>should</B> edit it to ensure that its settings are agreeable.  If you do not see the modem type
you wish to use listed, you will need to create one using the <b>[A]</B> Add Modem function. Either way,
the following settings are relevant.<BR><BR>

<Table frame="border" rules="all"><TBody valign="top">

   <TR BGColor="black"> <TD> <Font color="white">Select
         <TD><font color="white">Function
         <TD><font color="white">Description

   <TR>  <TD>  1
         <TD>  Init String
         <TD>  This string is sent to your modem to initialize it.  It can be as complex or as simple as
               you desire. Our preference is to pre-save all the correct settings in the modem's NVRAM
               and then simply use ATZ (ATZ0 for multi-profile modems) to recall it.

   <TR>  <TD>  2
         <TD>  Hang Up String
         <TD>  This string is sent to your modem to cause it to hang up (go on-hook). Generally this is
               ATH0 for Hayes-compatable modems.


   <TR>  <TD>  3
         <TD>  Return&nbsp;to&nbsp;Command&nbsp;Mode
         <TD>  This string is sent to the modem to get it to go into command mode, a state in which it will
               accept commands rather than sending data through to the remote. For Hayes compatable modems,
               this is generally "+++".

   <TR>  <TD>  4
         <TD>  Reset String
         <TD>  This string is sent to your modem to reset it to a default state. This is generally
               ATZ for most hayes-compatable modems.

   <TR>  <TD>  5
         <TD>  Answer String
         <TD>  This string is sent to your modem to cause it to pick up the line ("answer"). For Hayes-
               compatable modems, this is generally "ATA".  If you have your modem set to auto-answer
               the line, this command is ignored.

   <TR>  <TD>  6
         <TD>  Ring String
         <TD>  This tells DLG what string the modem will send when the phone line rings. Generally, this
               is RING.

   <TR>  <TD>  7
         <TD>  Lock Mode
         <TD>  If you are using a high-speed modem (greater than 4800 baud), you must lock the modem to
               computer data rate at a high rate of speed, or there will be much dropping out of data.

   <TR>  <TD>  8
         <TD>  Hang Up with DTR
         <TD>  If your modem supports it, DLG can toggle DTR (Data Terminal Ready) to indicate that the
               user has logged off and that the modem should hang up. The alternative is much slower,
               in that DLG will have to send the return-to-command-mode string and then issue the hangup
               string.

   <TR>  <TD>  9
         <TD>  BBS Answer Mode
         <TD>  If set to yes, DLG will answer incoming calls directly. This is the default setting you
               should use for a normal BBS line. However, if you are using an external program such as
               <B>TrapDoor</B> to answer the line, set this to NO.

   <TR>  <TD>  10
         <TD>  Maximum Baud Rate
         <TD>  This is the data rate that DLG will use to communicate with your modem. If you have the
               line <B>locked</B> (see above), this should generally be higher than the modem's rated
               speed. A good rule of thumb is to set it at a data rate that is (a) a multiple of 2400 and
               (b) at least twice as fast as your modem. <B>Don't get carried away!</B> Some modems do
               not react well to ludicrously high speeds.

</TBody></Table>

<P>You will note that there is a <B>DIRECTCONNECT</B> Modem file. This is used for all local logins, such
as the one you are on now.

<P>Now, let's set up the global settings for your ports. Select M and then G to go to the Global Settings
menu.

<HR>

<A Name="Globals"></A>
<H3>Global Settings</H3>

<IMG SRC="Pics/Globals.IFF" HSPACE="5" VSPACE="5">

<BR>Global settings affect how your BBS looks and operates for a particular port or ports. Like modem files,
you can define one global and use it wherever you need to. Two configurations are provided as starters,
DEFAULT and LOCAL.  You are, of course, using the LOCAL setting for this login.  The DEFAULT setting is
configured for your remote port.  If you wish to create a new one, you may. At any rate, you should edit
all globals that you intend to use at this point, even if it's only the DEFAULT and LOCAL globals.<BR><BR>

<Table frame="border" rules="all"><TBody valign="top">

   <TR BGColor="black"> <TD> <Font color="white">Select
         <TD><font color="white">Function
         <TD><font color="white">Description

   <TR>  <TD>  1
         <TD>  BBS Name
         <TD>  The name of your BBS. If you have more than one global and wish to have different "looks"
               for them, this may be an imporant visual cue.

   <TR>  <TD>  2
         <TD>  Auto Screen Open
         <TD>  If set to yes, any time a user logs in on this port, a screen or window will open and you
               will be able to watch what the user is doing. If set to no, the user's activities will be
               carried out in the background. The latter setting is more effiecient. Even if you set this
               to "No", you can always pop open a screen to snoop on your users (see the more advanced
               topics as to how this works).

   <TR>  <TD>  3
         <TD>  Screen Type
         <TD>  Controls how the "snoop" window opens. If set to CUSTOM, a new screen will open and you will
               view the user's activities pretty much as they see it on thier terminal. If set to WORKBENCH,
               a window will open on your Workbench screen. The latter is more memory conservative.

   <TR>  <TD>  4
         <TD>  Verbose Pausing
         <TD>  A user can pause the stream of data displayed by selecting CNTL-S and CNTL-Q to restart the
               flow, which is more or less normal for any ANSI terminal. In verbose pause mode, DLG will
               display a prompt ("[PAUSED]") whenever a pause occurs. If verbose mode is turned off, there
               will be no visual indication that the BBS is paused.

   <TR>  <TD>  5
         <TD>  Public Accessability
         <TD>  A port can be limited to ONLY people within a given group (see group accounts). If this is
               set to YES, such limiting occurs. By default it is set to NO, allowing anyone to log in.

   <TR>  <TD>  6
         <TD>  Group Name for Private Port
         <TD>  If you answer PRIVATE for (5), you will need to specify a group name that actually has
               access to this port.

   <TR>  <TD>  7
         <TD>  Idle Timeout (Seconds)
         <TD>  DLG will log out a user if more than a certain amount of time has elapsed with no activity
               on the line. This parameter sets how long that will be for the port in question. You might
               consider a lower number for a port that gets more traffic, for example.

   <TR>  <TD>  8
         <TD>  Connect Delay
         <TD>  This tells DLG how long to wait after a connection before it starts interacting with the
               user. This allows time for the connection to stabilize. If you do not have connection problems
               with your users, you might consider lowering this number.

   <TR>  <TD>  9
         <TD>  Minimum Baud Rate
         <TD>  You can limit connections to the port in question to higher speeds through this parameter.
               Setting it to 300 effecively allows any connection through (unless somebody knows of a modem
               that runs lower than 300 baud!)

   <TR>  <TD>  10
         <TD>  Default Menu
         <TD>  This indicates which menu the user will see upon logging in. Right now, this should be set
               to MAIN since you don't have any other general purpose menus defined. This is one of the more
               powerful settings of the globals, as it can direct users to entirely different setups, virtually
               a different BBS if you so wish it.

   <TR>  <TD>  11
         <TD>  Default Login Command Stack
         <TD>  DLG will allow you to "stack" a series of keystrokes together and execute them sequentially
               without actually displaying the menus along the way; this can get you from one place to another
               very quickly. You have the option of defining a default stack that will execute whenever a user
               logs in. Very handy for landing users where you want them.  This command stack is copied to
               each user's data when that user is validated.  The user can then change it if they don't
               agree with your choices.

   <TR>  <TD>  12
         <TD>  Forced Login Command Stack
         <TD>  This is the same as (11) above, except that the user does NOT have the option of changing it.

   <TR>  <TD>  13
         <TD>  Private&nbsp;Message&nbsp;Reroute&nbsp;Area
         <TD>  If this is set to a non-zero value, all private messages written by users will be copied into
               a message area where you can monitor them.

               <P>We do not advocate nosiness for its own sake, but as a sysop you may be legally liable for
               illegal activities taking place through your BBS. As such, you are given the ability to
               spot problems and head them off quickly.

               <P>As you currently do not have any message areas created, leave this at 0 for now.

   <TR>  <TD>  14
         <TD>  Character Set
         <TD>  You can define a translation character set for each port global, thus allowing for special
               national characters in countries that use other than ISO Latin-1. If you have no desire to
               change this, leave it at 0.

   <TR>  <TD>  15
         <TD>  Default Language
         <TD>  Each port global may be attached to a specific language. By default this is English. You
               should set it at your native language and then create menu-sets for the other languages,
               thus giving the users the ability to choose for themselves.

   <TR>  <TD>  16
         <TD>  Auto ANSI Detect
         <TD>  If this is set to YES, the handler will attempt to detect if the user uses ANSI before the
               user logs in. If the user does support ANSI, you can use colors in your login screens and
               so on without fear of the user seeing garbage.

</TBody></Table>

<P>Once you have set this up as you desire, save it off and go back to the previous menu (M), then select
the Display editor (D).

<HR>

<A Name="Display"></A>
<H3>Display Configuration</H3>

<IMG SRC="Pics/Display.IFF" Align="right" HSPACE="5" VSPACE="5">

The Display Configuration settings determine how DLG's interactive windows and screens will open. This
includes the window for Chat and the screen for PeopleTalk.<BR><BR>

<Table frame="border" rules="all"><TBody valign="top">

   <TR BGColor="black"> <TD colspan="3"> <Font color="yellow"><Big><B>Window Settings</B></Big> <TD BGColor="white">
   <TR BGColor="black"> <TD> <Font color="white">Select
         <TD><font color="white">Function
         <TD><font color="white">Description

   <TR>  <TD>  1
         <TD>  X Position
         <TD>  The horizontal position of the upper left corner of any opened window. 0 is all the way to
               the left.

   <TR>  <TD>  2
         <TD>  Y Position
         <TD>  The vertical position of the upper left corner of any opened window. 0 is all the way to
               the top. A value of 11 is usually sufficient to leave the screen's title bar clear.

   <TR>  <TD>  3
         <TD>  Width
         <TD>  The horizontal size of any opened window. Can not be larger than your screen's width plus
               the X position.

   <TR>  <TD>  4
         <TD>  Height
         <TD>  The vertical size of any opened window. Can not be larger than your screen's height plus
               the Y position.

   <TR>  <TD>  5
         <TD>  Activate
         <TD>  If set to yes, this window will be activated as soon as it is opened, thus moving your
               keyboard focus to it. If you are busy typing at the time, this can prove annoying, so
               use it with caution

   <TR>  <TD>  6
         <TD>  Font
         <TD>  The font to use with any opened window. Defaults to topaz.font. Note that font names are
               case-sensitive.

   <TR>  <TD>  7
         <TD>  Size
         <TD>  The size of the font you wish to use with this window.


   <TR BGColor="black"> <TD colspan="3"> <Font color="yellow"><Big><B>Screen Settings</B></Big> <TD BGColor="white">
   <TR BGColor="black"> <TD> <Font color="white">Select
         <TD><font color="white">Function
         <TD><font color="white">Description

   <TR>  <TD>  8
         <TD>  Width
         <TD>  The horizontal size of any opened screen.

   <TR>  <TD>  9
         <TD>  Height
         <TD>  The vertical size of any opened screen.

   <TR>  <TD>  10
         <TD>  Bit Planes
         <TD>  How many bit planes defines how many colors are used with your screen.  1 bitplane is two
               colors, 2 bitplanes is 4 colors, 3 is 8, and 4 is 16. DLG only currently supports 3 bitplanes,
               though you can set it to 4 if you wish.

   <TR>  <TD>  11
         <TD>  HiRes
         <TD>  If set to yes, the screen will open in high-resolution mode. If not, it will nopen in low-
               resolution mode. This can be pretty ugly if you set the screen resolution to 640 pixels...

   <TR>  <TD>  12
         <TD>  Interlace
         <TD>  If set to yes, the screen will open in interlace mode. This should likewise be set with your
               screen resolution in mind.

   <TR>  <TD>  13
         <TD>  Open&nbsp;Behind
         <TD>  If set to YES, then the screen will open BEHIND all others, thus not disturbing what you are
               doing at the time. Otherwise, it will pop open as the front most screen.

   <TR>  <TD>  14
         <TD>  Font
         <TD>  The font to use with any opened screen. Defaults to topaz.font. Note that font names are
               case-sensitive.

   <TR>  <TD>  15
         <TD>  Size
         <TD>  The size of the font you wish to use with this screen.

   <TR>  <TD>  16
         <TD>  Edit Colors
         <TD>  This brings up a palette requester that will allow you to change the colors used for the
               screen.

</TBody></Table>

<P>Once this is complete, you are ready to tie it all together using the Port Configuration editor. Select
[M] to return to the previous menu, then [P] for the Port Configuration Editor.

<HR>
<A Name="Port"></A>
<H3>Port Configuration</H3>

<IMG SRC="Pics/Port_Config.IFF"  ALIGN="Left" HSPACE="5" VSPACE="5">

<P>The port config editor ties all the previous work together for a particular port, plus a few other
parameters. You should have two ports to configure -- TR0 (remote) and TL0 (local). You can create
as many other ports as desired once you have everything set up to your satisfaction.<BR><BR>

<Table frame="border" rules="all"><TBody valign="top">

   <TR BGColor="black"> <TD> <Font color="white">Select
         <TD><font color="white">Function
         <TD><font color="white">Description

   <TR>  <TD>  1
         <TD>  Serial&nbsp;Device
         <TD>  This is the hardware device to which the port is attached. The default Amiga serial port
               is <code>serial.device</code>. If you are using a different serial card for your remote
               port, you will need to set that name here. Note that device names are often case-sensitive.

               <P>For the local port TL0, this will be <code>console.device</code>.

   <TR>  <TD>  2
         <TD>  Unit Number
         <TD>  This is the unit number of the serial device in use. For <code>serial.device</code> and
               <code>console.device</code>, there is but one choice -- 0. For other serial ports, it will
               depend on how you connected your modem. Most serial cards start at 0 and go up as far as 7.

   <TR>  <TD>  3
         <TD>  Modem File
         <TD>  Here you select the modem file(s) you configured earlier. For TL0, you must select DIRECTCONNECT.

   <TR>  <TD>  4
         <TD>  Global Set
         <TD>  Here you select the global set(s) that you configured earlier.

   <TR>  <TD>  5
         <TD>  Display File
         <TD>  Here you select the display file(s) you configured earlier.

</TBody></Table>

<P><B>That's it!</B> You have now set up your basic connectivity and should be ready to accept callers. From
here, you will need to set up areas, user templates, and so on, but these are discussed in the Sysop Operations
section.

<HR>
</form>
</Body>

