<title>The Basics</title>

<body bgcolor="white">
<form>

<H2><B>Recovering your Password</B></H2>

<HR>

It's a bit difficult to maintain your system without having a password. If you do forget it, follow these
instructions:

<OL>
   <LI>Open a shell.<BR><BR>

   <LI>In the shell, type
       <P><Code>CD User:&lt;Your_Name&gt;</code><BR><BR>

   <LI>Type
       <P><code>Type User.Data OPT H</code><BR>
</OL>

The first 12 characters will be your password.<BR><BR>

<HR>
<H2><B>Recovering a Corrupted Account</B></H2>

If you accidentally corrupt your account data, you will have to create a new account. For this reason, we
encourage you to investigate a good backup utility and hardware, and use them.

Another possibility is to maintain a fallback account that you can use to enter the BBS with if your main
account gets corrupted.

Finally, you can use the MakeSysop program that is shipped as part of the installer disk. This program is
what is used to create your initial account data when you install the BBS, and can be used in an emergency
to give you an account again.  Usage is:<BR><BR>

<Pre>   MakeSysop "Your Name" "Password"</Pre>


</form>
</Body>

