<title>The Basics</title>

<body bgcolor="white">
<form>
   <body>
   <CENTER> <H1> Terms and Concepts  </H1>
   </CENTER>

<HR>

Throughout this manual, various terms like "port" and "resource", "FidoNet" and "UUCP" will be bandied about
with gay abandon. All this can be quite confusing for even a seasoned BBS operator that has never used DLG,
much less the first-time user of BBS software.

<P>Throughout the manual, steps are taken to explain new terminology as it is encountered, and the reference
section likewise presents you with many links to explanations as needed. However, there are certain basic
terms that you must know before we get started, and you should be at least peripherally aware of the concepts
behind how DLG works. The more you understand, the more effective your operations will be.

<HR>

</form>
</Body>

