<title>The Basics</title>

<body bgcolor="white">
<form>
   <body>
   <CENTER> <H1> Terms of Sale  </H1>
   </CENTER>

<HR>

<H3>License</H3> You are licensed to use one (1) copy of DLG Pro BBOS per package purchased. Each copy comes
with a unique serial number and all references to your license are made in reference to this serial number.

<P><H3>Backup Copies</H3> You are authorized to make backup copies of your original disks against possible failure
of the magnetic media. In fact, we encourage this. You are not authorized to share these backups or the original
diskettes without relinquishing your license to use the software.

<P><H3>Resale or Disposal</H3> If you sell or give away your software, you are obligated to discontinue all use
of the software under the license granted.

<HR>

</form>
</Body>

