<title>The Basics</title>

<body bgcolor="white">
<form>
   <body>
   <CENTER> <H1> Trademarks and Copyrights  </H1>
   </CENTER>

<HR>

<UL>
   <LI>DLG Professional, DLG Pro, DLG BBS, DLG BBOS, and DLGMail are trademarks of Digerati Dreams LLC.
   <LI>Amiga, AmigaDOS, AmigaOS, Workbench, and Intuition are trademarks of Amiga Incorporated.
   <LI>Fido and FidoNet are trademarks of Tom Jennings and Fido Software.
   <LI>Echomail - Jeff Rush
   <LI>TrapDoor, TrapList, and traplist.library by Maximillian Hantsch and Martin Laubach.
   <LI>Amiga UUCP by Matt Dillon and Michael Smith
   <LI>Arexx and RexxMast are trademarks of William Hawes
</UL>

All other products mentioned are copyright or trademarks of thier respective copyright holders.


<HR>

</form>
</Body>

