<title>The Basics</title>

<body bgcolor="white">
<form>
   <body>
   <CENTER> <H1> Credits  </H1>
   </CENTER>

<HR>

Many thanks are due to the many people who over the years have contributed to, used, critiqued, tested,
and, yes, suffered numerous indignities in the process of developing this software and the excellent quality
of the final product. To the grunt sysops that have over the years used this software, most of all, we owe
our thanks for thier patronage and continued support.

<UL>
   <LI>  Tom Conroy, Mike Oliphant, and James Hastings-Trew for the original concept, design, and
         implementation of DLG Professional.

   <LI>  Steve Lewis for the design and implementation of DLGMail (PDQMail)

   <LI>  Alan Bland for the original development of <I>EmacsDLG</I>, which became DLG ScreenEdit upon his
         generous donation of source code.

   <LI>  Maximillian Hantch and Martin Laubach for development of TrapDoor, simply the best Fido front end
         around.

   <LI>  Matt Dillon for the excellent Amiga UUCP and Michael Smith for continuing to improve it.

   <LI>  The long suffering beta testers, specifically Mike Moon, Thomas Newsom, and Don Plesky. There have
         been many more over the years, but many have left us for one reason or another, and thier
         insights are missed.

</UL>

DLG Pro is completely produced on an Amiga 3000 by Digerati Dreams, consisting of Jeff and Holly Grimmett and
a cast of thousands. No animals were harmed in beta testing this product. However, a great number of coffee
beans gave up thier existance in pursuit of perfect code.

<P>This manual was 99.9% produced completely with Amiga products.

<P>If we failed to mention anyone by name, please accept our appologies.

<HR>

</form>
</Body>

