<title>The Basics</title>

<body bgcolor="white">
<form>
   <body>
   <CENTER> <H1> Foreword  </H1>
   </CENTER>

<HR>

DLG Pro is often termed as a "Bulletin Board Operating System."  What this means is that we consider
DLG to work much the way as your Amiga' own operating system works.  It has many of the same components as
AmigaDOS has, such as handlers, libraries, and resource management.  Combine this with a number of small, fast
modules and the result is a BBS software package with unprecedented levels of configurability and control,
yet easy on resources and low in requirements.

<P>This does not come without a price, of course. Like any complex operating system, DLG demands that you take
the time to learn how to use it in order to get the most out of it.  Reasonable defaults have been set up
but in the end, the final result will be up to you. You will get the most out of this package with time and
study -- and possibly some experimenting.

<P>As a long time sysop using DLG, and now the owner of the software, it is my heartfelt wish that you find
DLG to be as pleasing as I have over the past 8 years or so.<BR><BR>

<HR>

</form>
</Body>

