<title>The Basics</title>

<body bgcolor="white">
<form>
   <body>
   <CENTER> <H1> Warranty  </H1>
   </CENTER>

<HR>

If there is a physical defect in the DLG program diskettes or manual, Digerati Dreams will replace the
defective item free of charge, provided the original item is returned. This warranty only applies to
new purchases, and only for a period of 6 months from the date of purchase.

<P>The contents of this manual are subject to change without notice.

<P>No warranty is made with respect to DLG Pro's quality or performance. Any and all warranties for
merchantability and/or fitness for a particular purpose are expressly excluded. The software is sold
'as is', and you, the buyer, are assuming the entire risk as to its quality and performance.

<P>In no event shall Digerati Dreams be liable or responsible to the buyer or any other person or entity for
direct, indirect, special, incidental, or consequential damages, indluding but not limited to interruption of
service and loss of business or anticipatory profits, resulting from any defect in the software or
misunderstanding of the software's documentation, even if Digerati Dreams has been advised of the possibility
of such damages.

<P>The warranty and remedies set out above are exclusive and in lieu of all othes, oral or written,
express or implied.

<P>Some countries do not allow the excusion or limitation of implied warranties or liabilities for
incidental or consequential damages, so the above limitation or exclusion may not apply to you.

<HR>

</form>
</Body>

