<title>System Operations</title>

<body bgcolor="white">
<form>

<H2><B>File and Message Area Basics</B></H2>

<HR>

As mentioned elsewhere, files and messages are organized into <B>Areas.</B> These areas are usually themed
in some way, such as "Workbench Icon Collections" or "Role Playing Games". While you cannot mix message and
file areas freely, you can theme them in similar ways, create <B>SIGs</B> that correspond to each other, or
in other ways.

<P>Access to areas is performed on a basis of <B>User Access Level</B>. Each user is assigned an access level
from 1 to 255 (255 being sysop level), and the file and message browsers each observe the restrictions imposed
by access level. Using access levels alone, you can create a variety of restrictions and permissions that
is seemingly endless.

<P>In addition to this, you can further refine the access a user has by assigning special access flags on a
user by user basis. For example, a troublesome user could be restricted from posting in a specific message
base in which he seemed hellbent on causing trouble in, or a user that had a propensity towards uploading
pirated software could be forbidden from uploading in any area.

<P>Before you open your BBS to the public, you should define in some way what your policies are going to be
regarding user levels, file and message bases, and how they interrelate.  As an example, suppose you assigned
access level 3 to all new users, 10 to all validated users, and 20 to priveleged accounts.  You could then
assign a minimum access of 3 for all file and message areas, 10 for uploads, and 20 for special areas.

<P>Why 3 for the lowest level, you might ask? Well, consider the case of a troublesome user, often called a
"twit" by the sysop community.  You could assign access level 1 as your "twit" level and thus any user that
was a constant source of trouble could be effectively locked out of all BBS activities with a single keystroke
by changing his access level to 1.

<P>As a general rule, you should only allow validated users to upload files or post messages in networked
message bases.  The reason is simple: anyone can log in as a new user and do untold damage to you before you
even realize that person has logged on to your BBS.

<HR>

<H3><B>NewScan List</B></H3>

<B>NewScan Lists</B> are lists kept for each user that detail which area they are interested in reading. Using
these lists, a user can quickly and automatically browse all file or message areas that interest them
without a complex series of commands.

<P>The area browsers both offer a command that automatically searches for the next unread message or file.
If that message or file is in the current area, the user is taken there. If not, the next area in the newscan
list is loaded, and then checked for new messages or files. This process continues until the list of areas is
exhausted.

<P>There are a number of ways that areas can be added to the newscan list of a user:

<UL>

   <LI>  The user can add or remove it using the User Options Editor.<BR><BR>

   <LI>  When an area is created by the sysop, it can be added to all users' newscan lists that have
         access to the area.<BR><BR>

   <LI>  When an area is deleted, it is removed from all users' newscan lists.

</UL>

<P>Additionally, when an area is moved or its access levels are changed, users can be added or removed
automatically.

<HR>
</form>
</Body>

