<title>DLG Pro BBS</title>

<body bgcolor="white">
<form>
   <body>
   <CENTER>
      <IMG SRC="Pics/DLGLogo.gif"  ALIGN="Right" >
      <H1>
         <BIG>
            DLG Pro Bulletin Board Operating System
         </BIG>
      </H1>
      
      <HR>

      <H2>
         Industrial Strength BBS Software for the Amiga Computer<BR><BR>System Operator's Manual
      </H2>
   </CENTER>

<HR>

<B>Note: </B> This manual makes extensive use of frames. If your browser does not support frames, we recommend
that you upgrade to AmigaOS 3.1 and a browser that does support frames.  If you have frames disabled, you must
enable them to properly use this manual.


<HR>

<Center>
   <Small>
         (c)1995-1999 by Digerati Dreams. This manual may not be distributed without written permission.
   </small>
</Center>
<BR>

</form>
</Body>

