<title>System Operations</title>

<body bgcolor="white">
<form>

<H2><B>The DOS Prompt</B></H2>

<HR>

<IMG SRC="Pics/DOS.IFF" HSPACE="5" VSPACE="5"><BR>

The DOS prompt command invokes the DLG program <B>DLG:TPTShell</B>, which places the user in an interactive
DOS session. The user is able to traverse your directory tree and perform DOS-like commands.

<P>That's DOS-<B>LIKE</B>, not direct to AmigaDOS -- an important distinction. Letting a user romp around
on your hard drives at will would be the equivelent to a death warrant for a BBS, generally. However, TPTShell
is a special shell that protects you from such things. It only allows the user access to commands that you
so designate. Commands not designated directly by yourself are not available. In the years that DLG has been
in existance, there have been <b>no</B> reports of someone hacking a BBS via TPTShell -- none.

<P>Of course, someone with 255 Sysop access has no such restrictions. You can execute any command that
is in the DOS command path, plus quite a few that aren't.

<P>The following commands are standard in the default DLG configuration:<BR><BR>

dir c:ls 1 1
cd c:cd 1 1
avail c:avail 1 0
status c:status 1 0


<Table frame="border" rules="all"><TBody valign="top">

   <TR BGColor="black"> <TD> <Font color="white">Command
         <TD><font color="white">Function
         <TD><font color="white">Actual Command
         <TD><font color="white">Comments

   <TR>  <TD>  Dir
         <TD>  Lists the current directory
         <TD>  C:ls
         <TD>  The default command "ls" is not part of AmigaDOS or DLG. You will need to find one of
               the many 'ls' replacements available on AmigaNet. Do NOT allow the users full access to
               C:DIR, as the interactive (DIR OPT I) mode will allow them to delete files.

   <TR>  <TD>  CD
         <TD>  Change&nbsp;directory
         <TD>  C:CD
         <TD>

   <TR>  <TD>  Avail
         <TD>  Reports available memory.
         <TD>  C:Avail
         <TD>

   <TR>  <TD>  Status
         <TD>  Status of the computer
         <TD>  C:Status
         <TD>

   <TR>  <TD>  Exit
         <TD>  Leave the shell session
         <TD>  Built in to TPTShell
         <TD>

</TBody></Table>
<HR>

</form>
</Body>

