<title>System Operations</title>

<body bgcolor="white">
<form>

<H2><B>The File Menu</B></H2>

<HR>

<IMG SRC="Pics/File.IFF" HSPACE="5" VSPACE="5"><BR>

The File Menu is where users browse, download, and upload files. A number of auxilliary functions might likewise
be attached, but that is the main purpose of this menu. Unlike most menus, this menu is attached to a special
module called <B>DLG:File</B>, which is the DLG file browser.  The reason for this is that a number of
special parameters and functions are available for both menus as well as display that are not available
in the main DLG:Menu module.<BR><BR>

<Table frame="border" rules="all"><TBody valign="top">

   <TR BGColor="black"> <TD> <Font color="white">Key
         <TD><font color="white">Function
         <TD><font color="white">Description

   <TR>  <TD>  U
         <TD>  Upload a File
         <TD>  This allows the user to upload a file to the current file area. If the area requires
               validation, the file will not be available for download until the file is validated.

   <TR>  <TD>  D
         <TD>  Download a File
         <TD>  This allows the user to upload either the current file, a file by name or number, or files
               in the user's tagged file list.

   <TR>  <TD>  L
         <TD>  List Files (Local)
         <TD>  This allows the user to list files in the current file area. The user is given four sort
               criterea (forward by number, reverse by number, forward alphabetical, reverse alphabetical),
               and is allowed to set a filter for the listing (by date, new files, all files, by description,
               by filename, etc).

   <TR>  <TD>  J
         <TD>  Jump to Another Area
         <TD>  The user will be prompted for the area number to change to. If the user does not know the
               area number, he may hit RETURN for a list of areas.

   <TR>  <TD>  N
         <TD>  New File Search
         <TD>  This will take the user to the next file area in the user's <b>NewScan</B> list that has new
               (unseen) files. If the user is at the end of the newscan list, he will be informed. Otherwise,
               the user will be taken to the next area and then directly to the first new file in that area.

               <P>If the current area has unseen files, the user will be taken to them instead.

   <TR>  <TD>  A
         <TD>  List Files (Global)
         <TD>  This allows the user to list files in the all file areas in the same way as the [L] Local
               File List works.

   <TR>  <TD>  S
         <TD>  Search for Files
         <TD>  This invokes a powerful search utility that takes a filename pattern from the user and then
               searches all (or only the current, if selected) areas for filenames matching that pattern.
               The user is then given a list of matching files and short descriptions. The user may tag files
               for later downloading directly from this list.

   <TR>  <TD>  P
         <TD>  Private Area
         <TD>  The user is taken to his private file area. If any private fils exist, the user will be informed.
               Any file uploaded from this "area" will likewise be private.

   <TR>  <TD>  C
         <TD>  Comment on File
         <TD>  The user may enter a comment about the file currently being displayed. This allows users to
               guide each other towards or away from good/bad files, for example. Consider it an online "review"
               of each file.

   <TR>  <TD>  W
         <TD>  Write to Uploader
         <TD>  The user may enter a private mail to the user that uploaded the file.

   <TR>  <TD>  T
         <TD>  Tag File
         <TD>  The current file can be tagged for later downloading. The tagged file list sticks around
               as long as the files within it have not been downloaded, so if the user runs out of online
               time he may download the files later.

   <TR>  <TD>  Y
         <TD>  List Tagged Files
         <TD>  If the user has a list of tagged files, this will show the list to the user.

   <TR>  <TD>  Z
         <TD>  Remove File Tag
         <TD>  If the user has a list of tagged files, this will allow the user to remove files from the
               list.

   <TR>  <TD>  V
         <TD>  View File Contents
         <TD>  Allows the user to view the contents of tha file archive. If the appropriate archiver has
               not been configured for the BBS, this will not work.

   <TR>  <TD>  X
         <TD>  Transfer File
         <TD>  Allows the user to move the file from one area to another, or as a private file to a user.
               The user may only move the file to areas that he has upload access to, and can only move
               files in areas in which he has transfer access. The user must also be the uploader of the
               file unless that user is Sysop (255) level.

   <TR>  <TD>  K
         <TD>  Kill File
         <TD>  Allows a user to delete a file.  Normally, only files uploaded by the user can be deleted.
               However, if that user has Sysop access (255), <b>any</B> file may be deleted.

   <TR>  <TD>  "
         <TD>  Validate File
         <TD>  If a file is unvalidated, the user or sysop may validate the file and either move it to a
               new file area or leave it in place. Until the file is validated, it is not available for
               FREQ or download.

   <TR>  <TD>  E
         <TD>  Edit File
         <TD>  The filename, size, and description may be edited. It may also be made a free download.
               Normally, this is only available to the sysop.

   <TR>  <TD>  ^
         <TD>  Jump to Message Areas
         <TD>  A quick shortcut to the message area browser.

   <TR>  <TD>  RET
         <TD>  Next File
         <TD>  The <B>RETURN</B> key in the file browser has a special meaning. It takes the user to
               the next available file. If the user is at the last file in an area, the next file
               in the next file area in the user's newscan list is found. If the user is at the end of his
               newscan list, he will be informed.

   <TR>  <TD>  *
         <TD>  Choose File SIG
         <TD>  If you have different SIGs created for file bases, this will allow the user to switch
               from one SIG to another. This will not be available if you lock the user into a specific
               SIG.

   <TR>  <TD>  [
         <TD>  Subscribe to Area
         <TD>  If a user does not have the area in his newscan list, he may add it using this command.

   <TR>  <TD>  ]
         <TD>  Unsubscribe&nbsp;from&nbsp;Area
         <TD>  If a user has the area in his Newscan list, this will remove it.

   <TR>  <TD>  M
         <TD>  Main Menu
         <TD>  Returns the user to the main menu.

   <TR>  <TD>  G
         <TD>  Goodbye
         <TD>  Logs the user off the BBS.

   <TR>  <TD>  H
         <TD>  Help
         <TD>  Brings up a help menu selection screen. From there, the user can select what command
               he or she wishes help with.

   <TR>  <TD>  ?
         <TD>  Display Menu
         <TD>  Often this is a hidden menu selection. It is most useful
               if line noise "corrupts" the menu, or if the user is using Intermediate or Expert
               menu mode. It causes the full menu to be displayed as if the user were in Novice menu mode.

</TBody></Table>
<HR>

</form>
</Body>

