<title>System Operations</title>

<body bgcolor="white">
<form>

<H2><B>The Main Menu</B></H2>

<HR>

<IMG SRC="Pics/Main.IFF" HSPACE="5" VSPACE="5"><BR>

The Main Menu is generally the common nexus of your system. All other BBS functions are generally reached
from here.

<P>The Main menu is a general-purpose menu, in that it uses DLG:Menu to drive it.

<P>The following functions are examples taken from the default menus that you received with the package.
The example menu pictured is slightly different.<BR><BR>

<Table frame="border" rules="all"><TBody valign="top">

   <TR BGColor="black"> <TD> <Font color="white">Key
         <TD><font color="white">Function
         <TD><font color="white">Description

   <TR>  <TD>  M
         <TD>  Message Bases
         <TD>  This takes the user to the Message Base browser.

   <TR>  <TD>  F
         <TD>  File Libraries
         <TD>  This takes the user to the File Base browser.

   <TR>  <TD>  L
         <TD>  Leave Feedback
         <TD>  This function calls the DLG program SendMsg, enabling the user to write a message to the
               sysop without actually entering the message bases. The example menu assumes that a group
               account called SYSOP actually exists, and that you are part of that group account. Otherwise
               you will have to reconfigure this menu entry.

   <TR>  <TD>  C
         <TD>  Chat with Sysop
         <TD>  This function calls the DLG batch file Chat.DLGBatch, which in turn calls the DLG program
               <B>CHAT</B>. This causes a requester to pop up on the WorkBench screen, requesting that
               you chat with the user. The chat session is a real-time one-on-one messaging session.

   <TR>  <TD>  E
         <TD>  Edit&nbsp;User&nbsp;Settings
         <TD>  This allows users to edit their settings, or preferences, to suit their needs.

   <TR>  <TD>  S
         <TD>  Sysop Menu
         <TD>  This function is generally only available to the sysop, and invokes the Sysop Editor menu.

   <TR>  <TD>  P
         <TD>  Play Games
         <TD>  An example of a sub-menu. While the menu appears to have many games set up for it, those games
               were not shipped as a part of DLG. It is an example only, and as such it came preconfigured
               to only allow sysop (level 255) access.

   <TR>  <TD>  G
         <TD>  Goodbye
         <TD>  This will log the user off

   <TR>  <TD>  H
         <TD>  Help
         <TD>  Brings up a help menu selection screen. From there, the user can select what command
               he or she wishes help with.

   <TR>  <TD>  ?
         <TD>  Display Menu
         <TD>  Often this is a hidden menu selection. It is most useful
               if line noise "corrupts" the menu, or if the user is using Intermediate or Expert
               menu mode.

</TBody></Table>
<HR>

</form>
</Body>

