<title>System Operations</title>

<body bgcolor="white">
<form>

<H2><B>The Message Menu</B></H2>

<HR>

<IMG SRC="Pics/Message.IFF" HSPACE="5" VSPACE="5"><BR>

The Message Menu is where users read and write messages. A number of auxilliary functions might likewise
be attached, but that is the main purpose of this menu. Unlike most menus, this menu is attached to a special
module called <B>DLG:Mess</B>, which is the DLG message browser.  The reason for this is that a number of
special parameters and functions are available for both menus as well as display that are not available
in the main DLG:Menu module.<BR><BR>

<Table frame="border" rules="all"><TBody valign="top">

   <TR BGColor="black"> <TD> <Font color="white">Key
         <TD><font color="white">Function
         <TD><font color="white">Description

   <TR>  <TD>  L
         <TD>  Look for Mail to You
         <TD>  If a user has tagged messages, this will display a list of tagged messages and who they
               are from.

   <TR>  <TD>  W
         <TD>  Write a New Message
         <TD>  This takes the user to the message editor, where a message may be addressed and written.
               Only available if the user has write access.

   <TR>  <TD>  R
         <TD>  Reply to a Message
         <TD>  This is essentially the same as "W" above, but in the case the message being replied to
               may be quoted, the message can be addressed directly to the writer, and a number of other
               similar functions. This will not show if the user has not read any messages. Only available
               if the user has write access.

   <TR>  <TD>  J
         <TD>  Jump to Another Area
         <TD>  The user will be prompted for the area number to change to. If the user does not know the
               area number, he may hit RETURN for a list of areas.

   <TR>  <TD>  D
         <TD>  Delete All Messages
         <TD>  This allows the user to delete all messages in the message area. Normally, this is not
               available to anyone except the sysop. However, the user <b>may</b> execute this function
               if reading his own private message area.

   <TR>  <TD>  S
         <TD>  Edit Signature
         <TD>  The user can have up to 3 different signatures for message areas: Normal, Echo, and UUCP.
               If the area is set up to use signatures, the appropriate signature will be appended to any
               message written by the user.

   <TR>  <TD>  C
         <TD>  Change Message
         <TD>  Allows a user to change a message.  Normally, only messages written by the user can be changed.
               However, if that user has Sysop access (255), <b>any</B> message may be edited.

               <P>Messages in networked message bases may have been exported before the user tries to change
               it. If that is the case, the changing will have no effect other than locally. The user is
               informed of this in such a case.

   <TR>  <TD>  K
         <TD>  Kill Message
         <TD>  Allows a user to delete a message.  Normally, only messages written by the user can be deleted.
               However, if that user has Sysop access (255), <b>any</B> message may be deleted.

               <P>Messages in networked message bases may have been exported before the user tries to delete
               it. If that is the case, the deletion will have no effect other than locally. The user is
               informed of this in such a case.

   <TR>  <TD>  P
         <TD>  Private Mailbox
         <TD>  The user is taken to his private messages. If any new messages exist, the user will be informed.
               Any message written from this "area" will likewise be private.

   <TR>  <TD>  N
         <TD>  Next Message Area
         <TD>  This will take the user to the next message area in the user's <b>NewScan</B> list. If the user
               is at the end of the newscan list, he will be informed. Otherwise, the user will be taken to
               the next area and then directly to the first new message in that list.

   <TR>  <TD>  F
         <TD>  Forward Message
         <TD>  The user will be prompted for the type of forwarding (private, netmail, UUCP, public) and (if
               appropriate) the address of the recipient. The user may <b>not</b> forward mail <b>from</b>
               any area that he does not have forward or copy access, nor <b>to</b> any area that he does
               not have write access.

   <TR>  <TD>  &gt;
         <TD>  Read Forward
         <TD>  Sets the "next" message direction to "forward" (i.e. from lowest to highest). This is only
               available if the user is currently reading in reverse order.

   <TR>  <TD>  &lt;
         <TD>  Read Reverse
         <TD>  Sets the "next" message direction to "reverse" (i.e. from highest to lowest). This is only
               available if the user is currently reading in forward order.

   <TR>  <TD>  A
         <TD>  Read Message Again
         <TD>  This allows the user to re-display the current message.

   <TR>  <TD>  I
         <TD>  Message Filter
         <TD>  This allows the user to select messages based on a filtering criteria. For example, the user
               may wish to only read messages from a certain author, or perhaps with only a certain subject
               line.

   <TR>  <TD>  O
         <TD>  Threading On/Off
         <TD>  <B>Threading</B> is a method of browsing messages that overrides the numerical order in which
               they are stored, and instead displays them connected by subject line. The user may turn
               threading on and off at will.

   <TR>  <TD>  Z
         <TD>  Skip Thread
         <TD>  If threading is turned on, you can skip entire threads with this command and save a lot of
               dealing with subjects that do not interest you. Only available when threading is turned on.

   <TR>  <TD>  T
         <TD>  Read Tagged Messages
         <TD>  If a user has tagged messages (either tagged manually or with a command like [L] above), this
               will take the user directly to the tagged messages, regardless where they are at (within reason).

   <TR>  <TD>  +
         <TD>  Read Reply
         <TD>  If a message has a reply in thread mode, this command will be available. It displays the next
               message in the reply chain.

   <TR>  <TD>  -
         <TD>  Read Original
         <TD>  If a threaded message is a reply to another threaded message, this will allow you to read
               the message to which the current message is a reply.

   <TR>  <TD>  RET
         <TD>  Next Message
         <TD>  The <B>RETURN</B> key in the message browser has a special meaning. It takes the user to
               the next available message. If the user is at the last message in an area, the next message
               in the next message area in the user's newscan list is found. If the user is at the end of his
               newscan list, he will be informed.

   <TR>  <TD>  B
         <TD>  Post Bulletin
         <TD>  A <B>Bulletin</B> is a special message kept in a special message area (MSG:0/> that displays
               when users first log on. Once they have seen the bulletin, it goes away for them and they never
               have to read it again. Normally, only a sysop would have Bulletin write access.

   <TR>  <TD>  #
         <TD>  Update&nbsp;Message&nbsp;Pointers
         <TD>  This takes the current message that the user is reading and makes it the "last message read"
               for that user in that area.

   <TR>  <TD>  !
         <TD>  Catch Up
         <TD>  This marks the user as having read <b>all</b> messages in <b>all</b> message bases.

   <TR>  <TD>  @
         <TD>  Edit User
         <TD>  This is only available to the sysop, normally. This takes you to the user editor with the
               user in question already loaded up.  The user must exist on your BBS for this to work.

   <TR>  <TD>  $
         <TD>  List Readers
         <TD>  This displays a log of all users that have read messages in the area, how many posts they have
               made, and what the last message they wrote was. Normally only available to the sysop.

   <TR>  <TD>  *
         <TD>  Choose Message SIG
         <TD>  If you have different SIGs created for message bases, this will allow the user to switch
               from one SIG to another. This will not be available if you lock the user into a specific
               SIG.

   <TR>  <TD>  ^
         <TD>  Jump to File Areas
         <TD>  A quick shortcut to the file area browser.

   <TR>  <TD>  .
         <TD>  Scan Headers
         <TD>  Allows users to scan through message headers and only read those messages of interest.

   <TR>  <TD>  [
         <TD>  Subscribe to Area
         <TD>  If a user does not have the area in his newscan list, he may add it using this command.

   <TR>  <TD>  ]
         <TD>  Unsubscribe from Area
         <TD>  If a user has the area in his Newscan list, this will remove it.

   <TR>  <TD>  M
         <TD>  Main Menu
         <TD>  Returns the user to the main menu.

   <TR>  <TD>  G
         <TD>  Goodbye
         <TD>  Logs the user off the BBS.

   <TR>  <TD>  H
         <TD>  Help
         <TD>  Brings up a help menu selection screen. From there, the user can select what command
               he or she wishes help with.

   <TR>  <TD>  ?
         <TD>  Display Menu
         <TD>  Often this is a hidden menu selection. It is most useful
               if line noise "corrupts" the menu, or if the user is using Intermediate or Expert
               menu mode. It causes the full menu to be displayed as if the user were in Novice menu mode.

</TBody></Table>
<HR>

</form>
</Body>

