<title>System Operations</title>

<body bgcolor="white">
<form>

<H2><B>The User Options Editor</B></H2>

<HR>

<IMG SRC="Pics/UserEd.IFF" HSPACE="5" VSPACE="5"><BR>

The User Options Editor is used by the user to define how they want the BBS to look and act when they
are online. Some options are not changeable (system settings) but anything that is generally un-harmful
can be changed.

<P>In the below screen shot, all items marked "--" are not editable by the user (they are, however,
editable by the sysop).

<P>Unlike most other menus, this menu does not accept hotkeys.<BR><BR>

<Table frame="border" rules="all"><TBody valign="top">

   <TR BGColor="black"> <TD> <Font color="white">Key
         <TD><font color="white">Function
         <TD><font color="white">Description

   <TR>  <TD>
         <TD>  Name
         <TD>  The user's (supposedly) real name. Cannot be edited.

   <TR>  <TD>  1
         <TD>  Alias
         <TD>  The Alias, or "Handle", can be used in certain circumstances to preserve annonymity.

   <TR>  <TD>  2
         <TD>  Address
         <TD>  The user's mailing address

   <TR>  <TD>  3
         <TD>  Terminal
         <TD>  The kind of computer that the user is using.

   <TR>  <TD>  4
         <TD>  City
         <TD>  The city that the user lives in

   <TR>  <TD>  5
         <TD>  Password
         <TD>  The user's password. For security reasons, it is hidden from the user, but can be viewed
               by the sysop from the Sysop User Editor.

   <TR>  <TD>  6
         <TD>  State/Province
         <TD>  The state or province that the user lives in.

   <TR>  <TD>
         <TD>  Joined
         <TD>  The date that the user account was created.


   <TR>  <TD>  7
         <TD>  Country
         <TD>  The country the user lives in

   <TR>  <TD>
         <TD>  Last Login
         <TD>  The last time the user logged in to the BBS.

   <TR>  <TD>  8
         <TD>  Postal / Zip Code
         <TD>  The postal code used in the user's mailing address.

   <TR>  <TD>  9
         <TD>  Phone Number
         <TD>  Supposedly, the number that the user is calling from.

   <TR>  <TD>  10
         <TD>  Help Level
         <TD>  Sets the level of detail that the user sees in menus. There are three levels:<BR><BR>

               <OL>

                  <LI>  Novice (0): All menus are shown in full except for special menus like the
                        message and file area browsers, which are normally shown in Intermediate mode.<BR><BR>

                  <LI>  Intermediate (1): A short list of acceptable keys are shown.<BR><BR>

                  <LI>  Expert (2): Only the command prompt is shown.

               </OL>

   <TR>  <TD>
         <TD>  User Level
         <TD>  The user level assigned by the sysop when the user was validated. Ranges from 1 to 255.

   <TR>  <TD>  11
         <TD>  Screen Length
         <TD>  This is how "tall" the user's terminal is, given in lines of text. Normally 23.

   <TR>  <TD>  12
         <TD>  More Prompt
         <TD>  If set to NO, text files longer than the user's screen will scroll by continuously. If
               set to YES, the user will be prompted at the end of each "page" of text.

   <TR>  <TD>
         <TD>  Daily Limit
         <TD>  Set by sysop: this is how many minutes per day that the user can be logged on, cumulative.

   <TR>  <TD>  13
         <TD>  Screen Width
         <TD>  The width of the user's terminal, given in characters. Normally set to 80 for a standard
               ANSI terminal.

   <TR>  <TD>  14
         <TD>  ANSI Flags
         <TD>  Defines the user's ANSI color flags. The following flags apply:<BR><BR>

               <Table frame="border" rules="all"><TBody valign="top">

               <TR BGColor="black"> <TD> <Font color="white">Flag
                  <TD><font color="white">Function
                  <TD><font color="white">Description

               <TR>  <TD>C
                     <TD>ANSI Color
                     <TD>User wishes to see color in display

               <TR>  <TD>P
                     <TD>Screen Positioning
                     <TD>User wishes for ANSI screen positioning codes to be used (allows for faster
                         displays)

               <TR>  <TD>S
                     <TD>Screen Clears
                     <TD>Screen Clears will be issued as needed


               <TR>  <TD>T
                     <TD>Partial Screen Scroll
                     <TD>The user's terminal supports "freezing" of regions of the screen while other
                         parts are scrolling.

               </TBody></Table>

   <TR>  <TD>
         <TD>  Session Limit
         <TD>  Set by the sysop: the number of minutes a user may use per login. The user may login as many
               times per day as he wishes as long as the total of all sessions does not exceed the daily limit.

   <TR>  <TD>
         <TD>  Messages Read
         <TD>  A tally of how many messages the user has read.

   <TR>  <TD>  15
         <TD>  Hot Keys
         <TD>  Defines whether or not the user wishes to use Hot Keys.

   <TR>  <TD>
         <TD>  Used Today
         <TD>  How many minutes that the user has used for the current date.

   <TR>  <TD>
         <TD>  Files Uploaded
         <TD>  How many files (not bytes) the user has uploaded.

   <TR>  <TD>  16
         <TD>  Lex Flag
         <TD>  No longer supported. In older versions of DLG, a lexical checker was incorporated into
               the message writer. Deemed more a nuisance than a feature by most users, it has been relegated
               to an "option" that the sysop can configure in.

   <TR>  <TD>
         <TD>  Number of Calls
         <TD>  The total number of calls that the user has made to the BBS.

   <TR>  <TD>
         <TD>  'K' Uploaded
         <TD>  The total number of kiloBytes uploaded by the user to the BBS.

   <TR>  <TD>
         <TD>  Pop Screen
         <TD>  Settable by sysop. If this flag is set, when the user logs on a screen with the user's
               session will pop open regardless of other screen settings.

   <TR>  <TD>
         <TD>  Dir Limit
         <TD>  Defines how many bytes the user can store in his private directory. If a private upload
               would exceed this number when added to what's already there, the user cannot receive the
               upload.

   <TR>  <TD>
         <TD>  Files Downloaded
         <TD>  Files (not bytes) downloaded by the user from the BBS.

   <TR>  <TD>
         <TD>  UUCP Priveleges
         <TD>  Settable by sysop. There are three options:<BR><BR>

               <Table frame="border" rules="all"><TBody valign="top">

               <TR BGColor="black"> <TD> <Font color="white">Option
                  <TD><font color="white">Description

               <TR>  <TD>None
                     <TD>User has no UUCP priveleges

               <TR>  <TD>Write
                     <TD>User can read and write UUCP messages (email, newsgroups)

               <TR>  <TD>Client
                     <TD>The user account belongs to a UUCP client (downlink). The only actions
                         permitted by this "user" is to exchange mail and exit.

               </TBody></Table>

   <TR>  <TD>
         <TD>  Messages Written
         <TD>  Total number of messages written by user on the BBS.

   <TR>  <TD>
         <TD>  'K' Downloaded
         <TD>  The total number of kiloBytes downloaded by the user on the BBS.

   <TR>  <TD>
         <TD>  Time Online
         <TD>  Total amount of time the user has been online since the account was created.

   <TR>  <TD>  17
         <TD>  Last Message Area
         <TD>  This is the last message area visted by the user. When the user re-enters the message
               browser, the user will be taken to this area.

   <TR>  <TD>
         <TD>  Sysop Pages
         <TD>  How many times the user has requested a private chat with the sysop.

   <TR>  <TD>
         <TD>  Bulletin Write
         <TD>  If set to YES, the user may write public bulletins. Normally set to NO.

   <TR>  <TD>  18
         <TD>  Last File Area
         <TD>  This is the last file area visted by the user. When the user re-enters the file
               browser, the user will be taken to this area.

   <TR>  <TD>
         <TD>  Upload/Download Ratio
         <TD>  This defines how many bytes are "awarded" the user for each byte uploaded. As long as the
               user is below a certain limit, that user can freely download files. When it is exceeded, the
               user is no longer allowed to download until he uploads something. Can be set to NONE.

   <TR>  <TD>
         <TD>  Credit
         <TD>  The number of credits tha the user has towards netmail. In conjunction with TrapList's
               accounting information, you can grant users crash mail access and meter thier mail.

   <TR>  <TD>  19
         <TD>  Protocol
         <TD>  Defines the user's upload and download protocols from a list of protocols that you have
               prepared.

   <TR>  <TD>  20
         <TD>  Capture Flags
         <TD>  These flags are used in conjunction with the Message module's CAPTURE function. Capture
               settings can be toggled on and off, plus two other flags are definable if capture is
               enabled:<BR><BR>

               <Table frame="border" rules="all"><TBody valign="top">

               <TR BGColor="black"> <TD> <Font color="white">Flag
                  <TD><font color="white">Meaning

               <TR>  <TD>Enable&nbsp;ANSI
                     <TD>Enables the inclusion of ANSI color codes in the data stream during captures.

               <TR>  <TD>More Prompt
                     <TD>Enables the MORE prompt during captures.

               </TBody></Table>

   <TR>  <TD>  21
         <TD>  Editor
         <TD>  The user can select the message editor of choice from a list of editors that you have configured
               into the BBS.

   <TR>  <TD>
         <TD>  Netmail
         <TD>  These flags define the type of access that the user has with regards to netmail.<BR><BR>

               <Table frame="border" rules="all"><TBody valign="top">

               <TR BGColor="black"> <TD> <Font color="white">Flag
                  <TD><font color="white">Meaning

               <TR>  <TD>Write
                     <TD>The user can write netmail

               <TR>  <TD>Sysop
                     <TD>Not only can the user write netmail, but he can write crashmail, which goes
                         directly from the BBS it is written on to the destination BBS.

               </TBody></Table>

   <TR>  <TD>  22
         <TD>  Global&nbsp;Message&nbsp;NewScan
         <TD>  The NewScan list defines a list of message areas that will be automatically scanned when
               the user tells the message browser to search for new messages. The Newscan list editor
               affords the user many options for adding and removing areas from the list.

   <TR>  <TD>  23
         <TD>  Global File NewScan
         <TD>  The NewScan list defines a list of file areas that will be automatically scanned when
               the user tells the file browser to search for new files. The Newscan list editor
               affords the user many options for adding and removing areas from the list.

   <TR>  <TD>  24
         <TD>  Global ;Message Archive
         <TD>  This serves the same purpose as the Message NewScan list, except it only applies for
               offline readers and message archivers such as DLG:MailPack.

   <TR>  <TD>  25
         <TD>  Archiver
         <TD>  This tells the BBS what archiver to use when archiving data for the user, such as when
               packing mail for the user using MailPack.

   <TR>  <TD>  26
         <TD>  Menu Set
         <TD>  The user may choose from any available menu set. This is one way to give users of different
               nationalities the ability to view menus in thier native language.

   <TR>  <TD>  27
         <TD>  Character Set
         <TD>  The user may choose from any available character set. This is one way to give users of different
               nationalities the ability to view menus in thier native character set.

   <TR>  <TD>  28
         <TD>  Login Command Stack
         <TD>  The user may create a command stack for use when he first logs in. If you have defined a
               default login stack for the user's validation template, then that stack will be offered as
               the default. The user may change it if so desired.

</TBody></Table>
<HR>

</form>
</Body>

