<title>DLG Pro BBS</title>

<body bgcolor="white">
<form>
   <body>
   <CENTER>
      <IMG SRC="Pics/DLGLogo.gif"  ALIGN="Right" >
      <H1>
         <BIG>
            DLG Pro Bulletin Board Operating System
         </BIG>
      </H1>
      
      <HR>

      <H2>
         Industrial Strength BBS Software for the Amiga Computer<BR><BR>System Operator's Manual
      </H2>
   </CENTER>

<HR>

<Center>
   <Small>
         (c)1995-1999 by Digerati Dreams. This manual may not be distributed without written permission.
   </small>
</Center>
<BR>

</form>
</Body>

