<title>The Basics</title>

<body bgcolor="white">
<form>
   <body>
   <CENTER> <H1>Conventions used in This Manual</H1>
   </CENTER>

<HR>

For clarity, certain conventions are followed in this manual in a consistent fashion. If you learn these
conventions, your comprehension will be just that much easier.

<UL>
   <LI>  Command parameters bracketed in angle brackets <B>&lt; like this &gt;</B> represent some sort of
         information that you must pass to the program, such as a file name.<BR><BR>

   <LI>  Command parameters bracketed in brackets <B>[ like this ]</B> are optional.<BR><BR>

   <LI>  Text written in a monospaced font -- <Code>Like This</Code> -- represent what you are typing, or often
         represents the contents of a batch file or program listing.
</UL>

<HR>

<H4><B>Port Conventions</B></H4>

Port commands are a subset of Resource Manager commands. They are used to open, activate, close, and gain
ownership of DLG's communication ports.

<P>Shell commands supplied with DLG either return a 0 for no error, or error 10 indicating some level of
error. This information pertains ONLY to those functions (Arexx, etc) that return meaningful, detailed
error information. Unless indicated otherwise, the commands will return a 0 for no error.
Otherwise, the error code will come from the list of
<A HREF="../../Reference/Resman_Errors.html" target="dlmain"> Resource Manager error codes. </A>


<HR>

</form>
</Body>

