<title>System Operations</title>
<body bgcolor="white">
<form>
<A Name="Top"></A>

<H2><B>The Text / Message Editors</B></H2>

<HR>

Every user must choose one of a number of editors to use when writing messages and editing file descriptions
and other text. By default, DLG comes with two editors -- a <B>Line Editor</B> intended for low-end non-ANSI
users, and a <B>Full-Screen</b> editor that has full cursor control and a number of convenient functions
that make using it much easier.

<HR>
<A Name="LineEdit"></A>
<H3><B>The Line Editor</B></H3>
<IMG SRC="Pics/LineEd.IFF" HSPACE="5" VSPACE="5"><BR>

The Line Editor is the fallback editor for anyone whose terminal does not fully support ANSI and VT100 command
sequences. While it lacks the flash of the full screen editor, it is quite useable. The user begins by typing
the message as normal, and the program keeps track of line wraps and so forth. When the user is finished
typing, he types CONTROL-Z (^Z) and is presented with a list of options.<BR><BR>

<Table frame="border" rules="all"><TBody valign="top">

   <TR BGColor="black"> <TD> <Font color="white">Key
         <TD><font color="white">Function
         <TD><font color="white">Description

   <TR>  <TD>  R
         <TD>  Retrieve Text File
         <TD>  (<B>Sysop Only</B>) This allows the sysop to retrieve a text file from the hard drive
               and append it to the message.

   <TR>  <TD>  W
         <TD>  Write Text File
         <TD>  (<B>Sysop Only</B>) This allows the sysop to write the message's text to  a text file on the
               hard drive.

   <TR>  <TD>  L
         <TD>  List Message
         <TD>  Lists the contents of the message as it will appear in the final version.

   <TR>  <TD>  E
         <TD>  Search and Replace Editor
         <TD>  Querries the user for text to search for in the message, and for replacement text if it is
               found. This function is case-sensitive.

   <TR>  <TD>  A
         <TD>  Abort
         <TD>  Cancels the message and returns the user from whence the editor was invoked.

   <TR>  <TD>  S
         <TD>  Save
         <TD>  Writes the message out and exits the editor.

   <TR>  <TD>  C
         <TD>  Continue
         <TD>  Resume editing the message. The last line of the message is displayed.

   <TR>  <TD>  BS
         <TD>  Backspace
         <TD>  Erases the previous character. If at the beginning of a new line, the editor will
               "back up" to the previous line and position the cursor at the end of it.

</TBody></Table>

<HR>
<A Name="ScreenEdit"></A>
<H3><B>The Full Screen Editor</B></H3>
<IMG SRC="Pics/ScreenEd.IFF" HSPACE="5" VSPACE="5"><BR>

The Full Screen Editor is the preferred editor for anyone whose terminal fully supports ANSI and VT100 command
sequences. The user can enter messages, navigate the text in an intuitive fashion, and even customize the
editing environment to some extent. The following keystrokes are used:<BR><BR>

<Table frame="border" rules="all"><TBody valign="top">

   <TR BGColor="black"> <TD colspan="3"> <Font color="yellow"><Big><B>General</B></Big

   <TR BGColor="black"> <TD> <Font color="white">Key
         <TD><font color="white">Function
         <TD><font color="white">Description

   <TR>  <TD>  ESC ?
         <TD>  Help
         <TD>  Displays online help to user.

   <TR>  <TD>  ^Z
         <TD>  Save and Exit
         <TD>  Saves the file / message and exits

   <TR>  <TD>  ESC ESC
         <TD>  Abort
         <TD>  Aborts the message, no save

   <TR>  <TD>  ESC J
         <TD>  Change Subject
         <TD>  If editing a message, this will change the subject line.

   <TR>  <TD>  ESC T
         <TD>  Change Recipient
         <TD>  If writing a message, this will change the person to whom the message is addressed.

   <TR>  <TD>  ESC Z
         <TD>  Prefs
         <TD>  Enter user preferences editor. See below for details.

   <TR>  <TD>  ESC C
         <TD>  Check Spelling
         <TD>  If a spelling checker is configured, this will check the spelling.

   <TR>  <TD>  ^X MI
         <TD>  Insert Mode
         <TD>  Toggles editing mode between INSERT (text typed is inserted into file) and OVERWRITE (text
               is written over existing text). Default is INSERT.

   <TR>  <TD>  ^U x
         <TD>  Repeat x times
         <TD>  Repeats the command which follows 'x' times.

   <TR>  <TD>  ^X MW
         <TD>  Wrap
         <TD>  Toggles word-wrap on and off.

   <TR>  <TD>  ^L
         <TD>  Redraw Screen
         <TD>  Re-draws the entire screen. Handy if line noise corrupts the display.

   <TR>  <TD>  ^G
         <TD>  Abort Command
         <TD>  Aborts any command sequence currently at a prompt.

   <TR>  <TD>  ESC !
         <TD>  Send broadcast message
         <TD>  Broadcasts a message to other users using DLG's broadcast manager.

   <TR BGColor="black"> <TD colspan="3"> <Font color="yellow"><Big><B>Navigation</B></Big

   <TR BGColor="black"> <TD> <Font color="white">Key
         <TD><font color="white">Function
         <TD><font color="white">Description

   <TR>  <TD>  Up Arrow<BR>^P
         <TD>  Move up one line
         <TD>  Takes the cursor to the previous line.

   <TR>  <TD>  Left Arrow<BR>^B
         <TD>  Move left one character
         <TD>  Takes the cursor to the previous character.

   <TR>  <TD>  Right&nbsp;Arrow<BR>^F
         <TD>  Move right one character
         <TD>  Takes the cursor to the next character.

   <TR>  <TD>  Down&nbsp;Arrow<BR>^N
         <TD>  Move down one line
         <TD>  Takes the cursor to the next line.

   <TR>  <TD>  ^A
         <TD>  Beginning of Line
         <TD>  Takes cursor to beginning of line

   <TR>  <TD>  ^E
         <TD>  End of Line
         <TD>  Takes cursor to end of line.

   <TR>  <TD>  ESC F
         <TD>  Forward Word
         <TD>  Moves the cursor to the beginning of the next word.

   <TR>  <TD>  ESC B
         <TD>  Backward Word
         <TD>  Moves the cursor to the beginning of the previous word

   <TR>  <TD>  ^V
         <TD>  Forward Page
         <TD>  Takes the cursor to the next page.

   <TR>  <TD>  ESC V
         <TD>  Backward Page
         <TD>  Moves cursor to previous page.

   <TR>  <TD>  ESC P
         <TD>  Top of Paragraph
         <TD>  Takes cursor to beginning of paragraph.

   <TR>  <TD>  ESC N
         <TD>  Bottom of Paragraph
         <TD>  Move cursor to end of current paragraph.

   <TR>  <TD>  ESC &lt;
         <TD>  Top of File
         <TD>  Takes cursor to the beginning of the file or message.

   <TR>  <TD>  ESC &gt;
         <TD>  End of File
         <TD>  Takes the cursor to the end of the file or message.

   <TR>  <TD>  ESC G
         <TD>  Goto
         <TD>  Go to specified line number.


   <TR BGColor="black"> <TD colspan="3"> <Font color="yellow"><Big><B>Editing Commands</B></Big

   <TR BGColor="black"> <TD> <Font color="white">Key
         <TD><font color="white">Function
         <TD><font color="white">Description

   <TR>  <TD>  ^K
         <TD>  Kill Line
         <TD>  Deletes the current line from the cursor all the way to the end.

   <TR>  <TD>  ^D
         <TD>  Delete Character
         <TD>  Deletes the current character under the cursor

   <TR>  <TD>  ESC D
         <TD>  Delete Word Forward
         <TD>  Deletes the next word

   <TR>  <TD>  ESC ^H
         <TD>  Delete Word Backward
         <TD>  Deletes the previous word

   <TR>  <TD>  ESC A
         <TD>  Format Paragraph
         <TD>  Reformats the paragraph under the cursor, wrapping text to fit the screen.

   <TR>  <TD>  ESC .
         <TD>  Set Mark
         <TD>  Sets a mark at the cursor position.

   <TR>  <TD>  ESC W
         <TD>  Copy
         <TD>  Copies everything between cursor and mark (mark must be set previously).

   <TR>  <TD>  ^W
         <TD>  Cut
         <TD>  Cuts all text between cursor and mark (mark must be set previously).

   <TR>  <TD>  ^Y
         <TD>  Paste
         <TD>  Inserts data from the copy buffer at the cursor position. This includes text that has
               been deleted.


   <TR BGColor="black"> <TD colspan="3"> <Font color="yellow"><Big><B>Quoting</B></Big

   <TR BGColor="black"> <TD> <Font color="white">Key
         <TD><font color="white">Function
         <TD><font color="white">Description

   <TR>  <TD>  ESC Q<BR>^Q
         <TD>  Quote Message
         <TD>  If replying to a message, this will quote the message being replied to. A quote window
               will open and the user can select the text to quote from that window.

   <TR>  <TD>  ^X Q
         <TD>  Quote All
         <TD>  Quotes the entire message

   <TR BGColor="black"> <TD colspan="3"> <Font color="yellow"><Big><B>Search / Replace</B></Big

   <TR BGColor="black"> <TD> <Font color="white">Key
         <TD><font color="white">Function
         <TD><font color="white">Description

   <TR>  <TD>  ESC S<BR>^S
         <TD>  Search Forward
         <TD>  Searches the text from the cursor to end of file.

   <TR>  <TD>  ^R
         <TD>  Search Reverse
         <TD>  Searches for text from the cursor to the beginning of the file.

   <TR>  <TD>  ESC R
         <TD>  Search and Replace
         <TD>  Searches for given text, replaces it if found.

   <TR BGColor="black"> <TD colspan="3"> <Font color="yellow"><Big><B>Macros</B></Big

   <TR BGColor="black"> <TD> <Font color="white">Key
         <TD><font color="white">Function
         <TD><font color="white">Description

   <TR>  <TD>  ^X (
         <TD>  Begin recording macro
         <TD>  Start recording a macro to use at a later time.

   <TR>  <TD>  ^X )
         <TD>  End Macro
         <TD>  Stop recording the current macro.

   <TR>  <TD>  ^X E
         <TD>  Execute Macro
         <TD>  Executes a macro

   <TR BGColor="black"> <TD colspan="3"> <Font color="yellow"><Big><B>Sysop Only</B></Big

   <TR BGColor="black"> <TD> <Font color="white">Key
         <TD><font color="white">Function
         <TD><font color="white">Description

   <TR>  <TD>  ^X ^I
         <TD>  Insert File
         <TD>  Insert a file into the current text. If the file is binary, it may be UUEncoded automatically.

   <TR>  <TD>  ^X ^W
         <TD>  Write File
         <TD>  Write the file or message to a text file on the hard drive.

   <TR>  <TD>  ^X ^P
         <TD>  Print
         <TD>  Prints the current message or file to the printer.

</TBody></Table>

<HR>
<A Name="EditOpts"></A>
<H3><B>Full Screen Editor User Prefs</B></H3>

The user has the ability to personalize how the editor looks, feels, and reacts in many ways. The user invokes
the preferences editor by selecting <B>ESC Z</B>.<BR><BR>

<Table frame="border" rules="all"><TBody valign="top">

   <TR BGColor="black"> <TD> <Font color="white">Option
         <TD><font color="white">Description

   <TR>  <TD>  Colors
         <TD>  The user may customize the colors used for various parameters, including the color of the
               TO and SUBJECT line, color of text on divider bars, message text, quoted text, and command
               prompts. In addition to this, the "style" of the borders may be changed, with many choices
               from plain ASCII to fancy ANSI. Full prompts are provided.

   <TR>  <TD>  Quote Greeting
         <TD>  When replying to a message, an attribution line is normally inserted at the top of any
               quoted material. The user can change the wording of this attribution, and even include
               some pre-selected text such as the name of the recipient or the subject of the message.
               Full prompting is provided.

   <TR>  <TD>  Quote Prefix
         <TD>  When replying to a message, quoted material is normally preceeded by characters to indicate
               that it is quoted. The screen editor can use the name or initials of the quotee, or simply
               use brackets.

   <TR>  <TD>  Word Wrap
         <TD>  Of most use to a sysop, the editor can be configured to turn off word wrapping when editing
               text files loaded from the hard drive.

   <TR>  <TD>  Fortune&nbsp;Cookies
         <TD>  A common practice is to include a random "fortune cookie" quote at the end of a message,
               also known as "taglines." The screeneditor may be configured to use a number of different
               tagline generators.  The user then has the ability to choose from whatever generators have
               been configured by the sysop, or none at all.

</TBody></Table>


<HR>
</form>
</Body>

