<title>System Operations</title>

<body bgcolor="white">
<form>

<H2><B>User Menus</B></H2>

<HR>

Even the sysop needs to know how to operate the BBS.  This chapter covers all the basic menus that your
users will encounter, as well as a number of important basics involving menus in general. You will need
to understand this in order to appear omniscient to your users.

<HR>

</form>
</Body>

