<title>System Operations</title>

<body bgcolor="white">
<form>

<H2><B>System Operations</B></H2>

<HR>

Getting DLG installed is the easiest part of the whole process of getting and staying online. Once you get
things going, the list of things to do, change, or update seems to be endless. This is not really a bad thing,
as a viable BBS needs to constantly change to meet the needs of its users and its sysop.

<P>This chapter, which is a large one, covers the material you will need to operate your BBS at a basic level.
It contains references for all the online menus that come with the basic software, how to use them, and
how to configure your BBS. Besides online modules, you will also need to edit a number of text files and
batch files to suit your system's look and feel.  You will find information about all this and more in
this chapter.

<HR>

</form>
</Body>

